// http://eslint.org/docs/rules
{
  "rules": {
    // Possible Errors
    "no-extra-parens": [1, true],

    // Best Practices
    "block-scoped-var": [0, true],
    "guard-for-in": [1, true],
    "no-else-return": [1, true],
    "no-eq-null": [2, true],
    "no-floating-decimal": [2, true],
    "no-param-reassign": [0, true],
    "no-process-env": [1, true],
    "no-self-compare": [2, true],
    "no-throw-literal": [1, true],
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "no-void": [1, true],
    "wrap-iife": [2, "outside"],

    // Strict Mode
    "strict": [2, "function"],

    // Variables
    "no-undef": 0,
    "no-undefined": [2, true],

    // Node.js

    // Stylistic Issues
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "comma-style": [1, "last"],
    "consistent-this": [1, "_this"],
    "func-style": [1, "epression"],
    "indent": [1, 2],
    "max-nested-callbacks": [1, 3],
    "no-lonely-if": [1, "tab"],
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-nested-ternary": [1, true],
    "one-var": [0, "never"],
    "quotes": [2, "single"],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [0, "never"],
    "space-in-brackets": [1, "newer"],
    "space-in-parens": [1, "never"],
    "space-unary-ops": [1, {"words": true, "nonwords": false}],
    "spaced-line-comment": [1, "always"],

    // ECMAScript 6
    "generator-star-spacing": [2, "after"],
    "no-var": [0, true],

    // Legacy
    "no-bitwise": [1, true],
  },
  "env": {
    "node": true
  }
}
