body[data-sidebar-open] .sidebar {
  transform: translateX(-450px);
}

body[data-sidebar-open] .sidebar-overlay {
  opacity: 1;
  transform: translateX(-100%);
}

body[data-sidebar-open] .sidebar-button {
  transform: translateX(-20px);
}

  body[data-sidebar-open] .sidebar-button i {
    transform: rotate(-180deg);
  }

  body[data-sidebar-open] .sidebar-button .cog {
    opacity: 0;
  }

  body[data-sidebar-open] .sidebar-button .cancel,
  body[data-sidebar-open] .sidebar-button .background {
    opacity: 1;
  }

/* transitions */

.clock,
.controls button {
  transition: font-size .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.progress i {
  transition: font-size .4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
                  color .6s;
}

body[data-sidebar-open] .sidebar,
body[data-sidebar-open] .sidebar-button,
body[data-sidebar-open] .sidebar-button i,
.sidebar,
.sidebar-button,
.sidebar-button i {
  /* TODO: check if cubic-bezier doesent impact performance */
  transition: -webkit-transform .6s cubic-bezier(0.23, 1, 0.32, 1),
                      transform .6s cubic-bezier(0.23, 1, 0.32, 1);
}

body[data-sidebar-open] .sidebar-overlay {
  /* TODO: check if overlay doesent impact performance */
  transition: opacity .7s ease;
}

.sidebar-overlay {
  transition: -webkit-transform .3s step-end,
                      transform .3s step-end,
                        opacity .3s ease-out;
}
