body {
  background-color: #424242;
  overflow: hidden;
}

/* Wrapper */

.wrapper {
  text-align: center;
  height: 100%;
}

  .wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.25em;
  }

  .wrapper .centered {
    display: inline-block;
    vertical-align: middle;
  }

/* Description */

.description {
  color: #fff;
  height: 60px;
  font-size: 60px;
}

/* Clock */

.clock {
  font-size: 150px;
  height: 170px;
  color: #fff;
}

/* Progress */

.progress {
  height: 70px;
}

  .progress i {
    font-size: 60px;
  }

/* Controls */

.controls {
  margin-top: 35px;
}

  .controls button {
    position: relative;
    width: 180px;

    padding: 20px;
    margin: 0 10px;

    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 25px;
  }

    .controls button:focus {
      outline: 0;
    }

    .controls button:active {
      position: relative; /* TODO: maybe change to translate transitionY */
      top: 2px;
    }

  .controls button i {
    position: absolute;
    left: 25px;
  }

  .controls button span {
    padding-left: 32px;
  }
