body {
  background-color: #424242;
}

/* Wrapper */

.wrapper {
  text-align: center;
  height: 100%;
}

  .wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    /* TODO: Adjusts for spacing */
    margin-right: -0.25em;
  }

.centered {
  display: inline-block;
  vertical-align: middle;
}

/* Clock */

.clock {
  font-size: 120px;
  color: #fff;
}

/* Progress */

.progress {
  /* TODO: adjust height according to img height, also media queries for this */
  height: 50px;
}

  .progress i {
    font-size: 50px;
  }

.description {
  color: #fff;
  font-size: 50px; /* XXX: if description will be visible always, delete this */
  height: 50px;
}

/* Controls */

.controls {
  margin-top: 30px;
}

  .controls button {
    background-color: transparent;
    border: 3px solid #f04444;
    color: #f04444; /* TODO: make sure this is the same clor as the red tomato image*/
    border-radius: 10px;
    padding: 20px;
    width: 180px;
    margin: 0 10px;
    font-size: 25px;
  }

    .controls button:hover {
      color: #fff;
      border-color: #fff;
    }

    .controls button:focus {
      outline: 0;
    }

    .controls button:active {
      position: relative;
      top: 2px;
    }
