@media only screen and (max-width: 620px) {

  .description {
    height: 40px;

    font-size: 40px;
  }

  .clock {
    height: 140px;

    font-size: 120px;
  }

  .progress {
    height: 52px;
  }

    .progress i {
      font-size: 45px;
    }

  .controls {
    margin-top: 25px;
  }

    .controls button {
      display: block;
      width: 65%;
      margin: 10px auto;
      padding: 10px;

      border: 2px solid #fff;
      font-size: 20px;
    }

    .controls button:first-child {
      padding: 20px;
    }

  .sidebar {
    right: -100%;
    width: 100%;
  }

  body[data-sidebar-open] .sidebar {
    transform: translateX(-100%);
  }

}
