.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.justify {
  text-align: justify;
}

/* colors */
.color-work {
  color: #e94a4a;
}

.color-break {
  color: #65e645;
}

.color-longbreak {
  color: #4e64f4;
}

.color-unfinished {
  color: #202020;
}

.color-finished {
  color: #ffffff;
}
