.sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;

  padding: 20px;
  overflow-y: scroll;

  color: #fff;
  background-color: #213a57;
}

  .sidebar:hover {
    /* NOTE: hack for Chrome, sidebar will be focused on
       hover so we can mouse scroll on sidebar instantly */
    overflow-y: auto;
  }

  .sidebar h2 {
    font-family: Verdana;
    font-weight: 400;

    margin-top: 40px;
  }

    .sidebar h2:first-child {
      margin-top: 10px;
    }

  .sidebar p,
  .sidebar li {
    line-height: 140%;
  }

  .sidebar a {
    color: #fff;
  }

  .sidebar .highlight {
    background-color: #41576F;
    color: #ffffff;

    border-radius: 5px;
    padding: 3px 8px 4px;

    font-family: 'Consolas', 'Courier New';
  }

    .sidebar .hotkeys .highlight {
      margin-right: 6px;
    }

  .sidebar .button {
    display: inline-block;

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: 5px;

    text-decoration: none;
    line-height: 30px;
    padding: 0 10px 0 7px;
  }

    .sidebar .button:active {
      transform: translateY(2px);
    }

    .sidebar .donation .button {
      margin-right: 14px;
    }

      .sidebar .donation .button:last-child {
        margin-right: 0;
      }

  .sidebar .bitcoin-address {
    word-wrap: break-word;
  }

  .sidebar .links i {
    font-size: 120%;
  }

    .sidebar .links .email {
      position: relative;
      top: 1px;
    }

    .sidebar .links .code {
      font-size: 100%;
    }

/* Settings */

.settings td {
  padding: 5px 0;
  padding-right: 10px;
}

  .settings td:last-child {
    padding-right: 0;
  }

.settings input[type=checkbox] {
  -moz-appearance: none;

  width: 20px;
  height: 20px;

  display: block;
  margin: 0 auto;
}

.settings input[type=number] {
  width: 60px;
  height: 25px;

  border: 1px solid #fff;
  border-radius: 5px;
  padding-right: 1em;

  text-align: right;
  font-family: 'Consolas', 'Courier New';
  background-color: transparent;
}

.settings input[type='number'] {
  -moz-appearance:textfield;
}

.settings input::-webkit-outer-spin-button,
.settings input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.settings .test,
.settings .plus,
.settings .minus {
  height: 25px;
  line-height: 23px;
  padding: 0;

  border: 1px solid #fff;
  border-radius: 5px;

  background-color: transparent;
}

  .settings .test:active,
  .settings .plus:active,
  .settings .minus:active {
    transform: translateY(1px);
  }

.settings .plus,
.settings .minus {
  float: left;
  width: 30px;

  text-align: center;
}

  .settings .plus i,
  .settings .minus i {
    font-size: 70%;
    position: relative;
    top: -2px;
  }

.settings .plus {
  border-radius: 0 5px 5px 0;
  border-left: 0;
}

.settings .minus {
  border-radius: 5px 0 0 5px;
}

.settings .test {
  width: 60px;
}

  .settings .test i {
    position: relative;
    left: -1px;
  }

  .settings .test span {
    position: relative;
    left: -4px;
  }

/* Share buttons */

.share-buttons > div,
.share-buttons > iframe {
  float: left;
  margin-right: 10px;
}

  .share-buttons > div:last-child {
    margin-right: 0;
  }

/* Sidebar button */

.sidebar-button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 55px;
  height: 55px;
  z-index: 10;

  background-color: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;

  font-size: 40px;
}

  .sidebar-button i {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 15;
  }

  .sidebar-button .cancel,
  .sidebar-button .background {
    opacity: 0;
  }

  .sidebar-button .background {
    position: relative;
    top: 5px;
    left: 5px;

    width: 46px;
    height: 46px;

    border-radius: 50%;
    background-color: #213a57;
  }

/* Sidebar overlay */

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
