.sidebar {
  position: absolute;
  background-color: rgb(51, 77, 158); /* TODO:  */

  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;

  padding: 20px;
  overflow-y: scroll;

  color: white;/* TODO:  */
}

  .sidebar .hotkey {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 8px 4px;
    margin-right: 5px;
    font-family: 'Consolas' 'Courier New';
  }

  .sidebar .donate {
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    margin-left: 10px;
    padding: 0 10px 0 7px;
    display: inline-block;
    line-height: 30px;
  }

    .sidebar .donate:first-child {
      margin-left: 0;
    }

.sidebar-button {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: transparent;
  color: #fff;
  border: 0;

  width: 55px;
  height: 55px;
  font-size: 40px;

  outline: 0;
}

  .sidebar-button i {
    position: absolute;
    top: 5px;
    left: 0;
  }

    .sidebar-button i:last-child {
      opacity: 0;
    }

.sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;

  opacity: 0;
}
