.sidebar {
  position: absolute;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;

  padding: 20px;
  overflow-y: scroll;

  color: #fff;
  background-color: #213a57;
}

  .sidebar h2 {
    font-family: Verdana;
    font-weight: 400;

    margin-top: 40px;
  }

    .sidebar h2:first-child {
      margin-top: 10px;
    }

  .sidebar p,
  .sidebar li {
    line-height: 140%;
    text-align: justify;
  }

  .sidebar a {
    color: #fff;
  }

  .sidebar .hotkey {
    /* TODO: change to hex */
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;

    border-radius: 5px;
    padding: 3px 8px 4px;
    margin-right: 6px;

    font-family: 'Consolas', 'Courier New';
  }

  .sidebar .link {
    display: inline-block;

    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;
    border-radius: 5px;

    text-decoration: none;
    line-height: 30px;
    margin-right: 15px;
    padding: 0 10px 0 7px;
  }

    .sidebar .link:last-child {
      margin-right: 0;
    }

    .sidebar .link:active {
      transform: translateY(2px);
    }

/* Settings */

.settings span {
  left: 6em;
  position: absolute;
}

input[type=number] {
  width: 3.7em;

  border: 1px solid #fff;
  border-radius: 5px;

  text-align: right;
  font-family: 'Consolas', 'Courier New';
  background-color: transparent;
}

input[type=checkbox] {
  -moz-appearance: none;

  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;

  margin-left: 20px;
}

/* Sidebar button */

.sidebar-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 55px;
  height: 55px;
  z-index: 10;

  background-color: transparent;
  color: #fff;
  border: 0;
  outline: 0;

  font-size: 40px;
}

  .sidebar-button i {
    position: absolute;
    top: 5px;
    left: 0;
  }

    .sidebar-button i:last-child {
      opacity: 0;
    }

/* Sidebar overlay */

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
